
body {
	font-family: "Open Sans", sans-serif;
}

ul.unstyled, ol.unstyled {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: #444;
}

.block {
	clear: both;
	width: 100%;
	overflow: hidden;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.container {
	max-width: 80em;
	margin: 0 auto;
	overflow: hidden;
}

footer {
	font-style: italic;
	color: #333;
}

	footer .container {
		padding: 1em 0;
		border-top: 3px solid #eee;
	}

	footer span {
		font-size: 0.875em;
	}

	footer a {
		color: #444;
	}

header {
	background: #040404;
	color: #fff;
	overflow: hidden;
}

	header .logo {
		text-decoration: none;
		color: #fff;
		padding: 2em 0;
		float: left;
	}

	header nav {
		float: right;
	}

		header nav ul {
			overflow: hidden;
		}

			header nav ul li {
				float: left;
			}

				header nav ul li a {
					display: block;
					padding: 2em;
					color: #fff;
					text-decoration: none;
				}

					header nav ul li a:last-child {
						padding-right: 0;
					}

.notifications {
	padding: 1em 0;
}

	.notifications p {
		margin: 0 0 1em 0;
	}

		.notifications p:last-child {
			margin: 0;
		}

	.notifications .notice, .notifications .error {
		padding: 1em;
	}

	.notifications .notice {
		background: #D9FFA9;
	}

	.notifications .error {
		background: #A4736C;
		color: #fff;
	}

	

.categories {}

	.categories li {
		background: #eee;
		position: relative;
		margin: 0 0 1em 0;
		padding: 0.5em 1em;
	}

.discussions {}

	.discussions li {
		background: #eee;
		position: relative;
		margin: 0 0 1em 0;
		padding: 1em 1em 0.5em 1em;
	}

		.discussions li .title {
			font-weight: normal;
			margin-top: 0;
		}

			.discussions li .title a {
				text-decoration: none;
			}

		.discussions li .unread {
			font-weight: bold;
		}

		.discussions li .stats {
			position: absolute;
			right: 16px;
			top: 16px;

			background: #ccc;
			overflow: hidden;
		}

			.discussions li .stats .stat {
				display: inline-block;
				padding: 0.5em;
			}

				.discussions li .stats .stat span {
					display: inline-block;
					width: 16px; 
					height: 16px;

					text-indent: -1000px;
					overflow: hidden;

					background-repeat: no-repeat;
					background-position: center center;
					background-size: contain;
				}

				.discussions li .stats .replies span {
					background-image: url('../img/noun_project_2780.svg');
				}

				.discussions li .stats .views span {
					background-image: url('../img/noun_project_421.svg');
				}

				.discussions li .stats .votes span {
					background-image: url('../img/noun_project_187.svg');
				}

span.votes {
	display: inline-block;
	padding-left: 24px;
	margin-left: 6px;
	height: 16px;
	line-height: 16px;

	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	background-image: url('../img/noun_project_187_inverted.svg');
}


.posts {
	padding: 0;
}

	.posts li {
		background: #eee;
		position: relative;
		margin: 0 0 1em 0;
		padding: 1em;
	}

		.posts  li blockquote {
			border-left: 3px solid #ccc;
			padding-left: 2em;
			margin-left: 0;
		}

		.posts li .gs-open {
			margin-top: 2em;
			font-size: 0.875em;
		}

.paging {
	margin-bottom: 1em;
}

	.paging a, .paging strong {
		display: inline-block;
		padding: 6px 16px;
		background: #eee;
		text-decoration: none;
	}

.btn {
	display: inline-block;
	padding: 6px 16px;
	border: none;
	background: #5C4D69;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
}

input, select, textarea {
	border: 1px solid #999;
	padding: 4px;
}

input.large {
	width: 400px;
}

textarea {
	resize: vertical;
	min-height: 160px;
}

input[type=checkbox] {
	border: none;
	padding: 0;
}